<%= link_to '新規登録', 'users/new' %>
<table class="table table-bordered mt-2">
  <thead>
  <tr>
    <!--screen_id-->
    <th>ID</th>
    <!--name-->
    <th>ユーザID</th>
    <!--last_cas-->
    <th>最後の放送日時</th>
    <!--is_casting-->
    <th>録画</th>
    <!--is_casting-->
    <th>放送中</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.screen_id %></td>
      <td><%= link_to user.name, '#' %></td>
      <td><%= user.last_cas %></td>
      <td><%= render 'shared/boolean_converter', arg: user.is_recordable %></td>
      <td><%= render 'shared/boolean_converter', arg: user.is_casting %></td>
    </tr>
  <% end %>
  </tbody>
</table>