<!DOCTYPE html>
<html>

<head>
  <title>TwitcastingDbApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light row">
    <%= link_to 'TwitcastingDbApp', users_path, class: 'navbar-brand col-md-10' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-md-2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-2">
          <%= link_to '戻る', :back %>
        </li>
        <% if logged_in? %>
          <li class="nav-item active mx-1">
            <%= link_to 'サインアウト', logout_path, method: "delete" %>
          </li>
        <% else %>
          <li class="nav-item active mx-1">
            <%= link_to "Log in", login_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<div class="container">
  <%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>
<%= debug(session[:developer_id]) if Rails.env.development? %>
</body>

</html>